@import url('https://fonts.googleapis.com/css2?family=Muli');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    border-radius: 3px;
    color:black;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.7s ease-in;
}

.panel h5{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h5{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(6),
    .panel:nth-of-type(7),
    .panel:nth-of-type(8),
    .panel:nth-of-type(9),
    .panel:nth-of-type(10),
    .panel:nth-of-type(11),
    .panel:nth-of-type(12) 
    {
        display: none;
    }

}